.react-tagsinput-tag {
  font-family: inherit;
  padding: 2px 4px;
  line-height: 20px;
  border: 1px solid #3699ff;
}

.react-tagsinput-input {
  font-family: inherit;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background: #2962ff;
}
