.posts {
  width: 100%;
  height: auto ;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}



.input-add {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}

.input-add input ,select{
  width: 300px;
  padding: 5px;
  border-radius: 6px;
}

.addBtn{
  background-color: rgb(58, 58, 226);
  border-color: rgb(58, 58, 226);
}

.addBtn:hover{
  background-color:  rgb(58, 58, 200);
}