/* EventAddForm.css */
.event-add-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .event-add-form {
    width: 80%; /* Adjust as needed */
    max-width: 600px; /* Adjust as needed */
  }
  